* {
  margin: 0px;
  padding: 0px; }

header,
section {
  max-width: 1500px;
  margin: auto; }

nav {
  background: black; }
  nav .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline; }
    nav .nav li {
      display: block;
      margin: auto;
      list-style: none; }
      nav .nav li a,
      nav .nav li input {
        display: block;
        color: gold;
        background-color: #000;
        font-size: 30px;
        padding: 0px;
        text-decoration: none; }
        nav .nav li a a:hover,
        nav .nav li input a:hover {
          background-color: #434343; }

img {
  width: 100px; }

.nav li ul {
  display: none;
  position: absolute;
  min-width: 250px; }

.nav li:hover > ul {
  display: block; }

.nav li ul li,
.input {
  position: relative;
  border: transparent;
  width: 300px;
  text-align: left; }

.nav li ul li ul {
  right: -140px;
  top: 0px; }

table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse; }
  table tr td {
    padding: 12px;
    width: 200px; }
    table tr td input {
      display: block;
      margin: auto;
      font-size: 20px;
      border: solid 3px gold;
      border-radius: 2em;
      background: transparent;
      width: 200px; }

.menu {
  text-align: center; }

/*a partir de aqui mercado2.html*/
input[type=submit] {
  border: solid 3px gold;
  border-radius: 2em;
  background: transparent;
  width: 200px; }

button {
  border: solid 3px gold;
  border-radius: 2em;
  background: transparent;
  width: 200px; }

table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse; }
  table tr {
    padding: 12px;
    width: 200px; }
    table tr th {
      background-color: #000000;
      color: gold; }

#resumen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%; }
  #resumen #estadoMercado {
    width: 96%; }

#tituloTabla {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 35pt; }
