* {
    margin: 0px;
    padding: 0px;
}

header,
section {
    max-width: 1500px;
    margin: auto;
}

nav {
    background: rgb(0, 0, 0);
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        li {
            display: block;
            margin: auto;
            list-style: none;
            a,
            input {
                display: block;
                color: gold;
                background-color: #000;
                font-size: 30px;
                padding: 0px;
                text-decoration: none;
                a:hover {
                    background-color: #434343;
                }
            }
        }
    }
}

img {
    width: 100px;
}

//menu plegable
.nav {
    li {
        ul {
            display: none;
            position: absolute;
            min-width: 250px;
        }
    }
}

//para ver la lista plegable
.nav li:hover>ul {
    display: block;
}

.nav li ul li,
input {
    position: relative;
    border: transparent;
    width: 300px;
    text-align: left;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}